.Nav {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .topNav {
    background-color: rgb(10, 10, 10);
    color: white;
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  & .bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90vw;
    height: 7vh;

    & .leftNav {
      font-size: 3vh;
      font-weight: 800;
    }

    & .centerNav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30vw;
    }
    & .rightNav {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        height: 3vh;
        margin: 1vh;
      }
    }
  }
}
