.Nav {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // position: fixed;

  & .topNav {
    background-color: rgb(30, 127, 156);
    color: white;
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2vh;
    font-family: "Source Sans Pro", sans-serif;
  }

  & .bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90vw;
    height: 7vh;

    & .leftNav {
      font-size: 3vh;
      font-weight: 800;
      font-family: "Source Sans Pro", sans-serif;

      width: 30vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: black;
    }

    & .centerNav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30vw;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;

      font-size: 1.6vh;

      & #navLink {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      & #navLink:hover {
        transition: all 0.3s;
        color: rgb(30, 127, 156);
      }
      & :active {
        color: rgb(30, 127, 156);
      }
    }
    & .rightNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 30vw;

      & img {
        height: 3vh;
        margin-left: 2vh;
        cursor: pointer;
      }
    }
  }
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  // background-color: aqua;
  // margin-top: 12vh;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & img {
    width: 45vw;
    margin: 0.5vw;
    position: relative;
  }

  & button {
    position: absolute;
    margin-top: 20vh;
    border-style: solid;
    border-color: black;
    border-width: 0.4vh;
    background-color: white;
    color: black;
    height: 6vh;
    width: 12vw;
    font-size: 3vh;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
  }
  & button:hover {
    background-color: black;
    border-color: white;
    & #shopButtonLink {
      color: white;
    }
  }

  & #shopButtonLink {
    color: black;
    text-decoration: none;
  }
}

.WomenHero {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .womenImageDiv {
    height: 60vh;
    width: 70vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & img {
      height: 60vh;
      width: 70vw;
      object-fit: cover;
      background-color: aqua;
    }
    & #wo {
      // background-color: blue;
      position: absolute;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 5vw;
      font-weight: 600;
      color: rgb(30, 127, 156);
    }
  }

  & #womenTitle {
    height: 60vh;
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 5vw;
    font-weight: 600;
    color: black;
  }
}

.WomenBottom {
  width: 100vw;
  // background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: row;

  & .leftWomenBottomDiv {
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & .categories {
      // background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 14vw;
      margin-top: 4vw;

      & #category {
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        margin: 0.8vh;
        font-size: 1.4vh;
        cursor: pointer;
      }

      & #category:hover {
        color: rgb(30, 127, 156);
      }

      & #viewAll {
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        color: rgb(30, 127, 156);
        margin: 0.8vh;
        font-size: 1.4vh;
        cursor: pointer;
      }
    }

    & .colors {
      // background-color: peru;
      width: 14vw;
      margin-top: 2vw;
      & #colorTitle {
        color: black;
        font-size: 1.1vw;
        font-weight: 600;
      }
      & .colorButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        & .sqBut {
          width: 1.8vw;
          border: none;
          // background-color: rgb(128, 221, 177);
          height: 1.8vw;
          margin: 1.2vh;
          cursor: pointer;
        }

        & .black {
          background-color: #000000;
        }

        & .red {
          background-color: rgb(214, 77, 75);
        }

        & .gray {
          background-color: rgb(158, 155, 152);
        }

        & .blue {
          background-color: rgb(56, 71, 108);
        }

        & .brown {
          background-color: rgb(111, 61, 61);
        }

        & .white {
          background-color: #ffffff;
          border: solid;
          border-color: rgb(212, 212, 212);
          border-width: 2px;
        }

        & .green {
          background-color: rgb(97, 151, 138);
        }
      }

      & .sizeButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // background-color: antiquewhite;

        & button {
          border: none;
          background-color: rgba(0, 0, 0, 0);
          height: 1.4vw;
          width: 1.4vw;
          font-size: 0.7vw;
          margin: 1vh;
          cursor: pointer;
        }
        & button:hover {
          color: rgb(30, 127, 156);
        }
      }
    }
  }

  & .rightWomenBottomDiv {
    // background-color: rgb(76, 163, 64);
    width: 80vw;
  }
}

.WomenItems {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  & .items {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & .itemInd {
      width: 14vw;
      margin: 1vw 0.5vw 1vh 0.5vw;
      color: black;
      font-weight: 700;
      font-family: "Source Sans Pro", sans-serif;
      & img {
        width: 14vw;
      }
      & #itemPrice {
        color: gray;
        font-weight: 400;
      }
    }
  }

  & .sortItemsBy {
    width: 59vw;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  * {
    .Nav {
      .bottomNav {
        align-items: center;
        justify-content: space-between;
        .leftNav {
          font-size: 4vw;
          background-color: aqua;
        }
        .centerNav {
          visibility: hidden;
        }
        .rightNav {
          visibility: hidden;
        }
      }
    }
  }
}
